.CardBody{
    display: flex;
    justify-content: start;
    margin: 10px;
    gap: 10px;
    
    
}

.contact-img{
   width: 150px;
   height: 150px;
   object-fit: cover;
   border: 1px black solid;
   
}
.infoContact{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.buttonsCard{
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-end;
    
}

.iconContact{
    background: transparent;
    border:none;
    color: black;
}
.iconContact:hover{
  opacity: 0.75;
}